<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <title>{{.title}}</title>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-4 d-flex flex-row justify-content-center">
                <div class="card card-default">
                    <div class="card-header">
                        <strong class="card-title">Usuarios conectados</strong>
                    </div>
                    <div class="card-body">
                        <strong class="font-weight-bolder" id="counter"></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="text" name="client_id" id="client_id">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    (()=> {

        const counter = document.getElementById("counter")
        counter.innerText = 000

        const counterEvent = new EventSource("/dashboard/counter")

        counterEvent.addEventListener("open", (e) => {
            console.log("User counters")
        })

        counterEvent.addEventListener("counter", (raw)=> {
            const data = JSON.parse(raw.data)

            counter.innerHTML = `${data.counter}`
        })

        counterEvent.addEventListener("client", (raw) => {
            document.getElementById("client_id").value = raw.data
        })

        counterEvent.addEventListener("close", (raw) => {
            counterEvent.close()
        })

        window.onbeforeunload = function () {
            let i = document.getElementById("client_id").value
            fetch(`/dashboard/${i}/disconnect`, {method: "POST"})
            return true;
        };

    })()
</script>
</body>
</html>